In [1]:
import numpy as np
import pandas as pd

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv(r"Medical_Insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       2772 non-null   int64
 1   sex       2772 non-null   object
 2   bmi       2772 non-null   float64
 3   children  2772 non-null   int64
 4   smoker    2772 non-null   object
 5   region    2772 non-null   object
 6   charges   2772 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 151.7+ KB

In [4]:
data.shape

(2772, 7)

In [5]:
from sklearn.preprocessing import LabelEncoder
Le = LabelEncoder()
data['sex'] = Le.fit_transform(data['sex'])
data['smoker'] = Le.fit_transform(data['smoker'])
data['region'] = Le.fit_transform(data['region'])
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [6]:
data.describe()

,age,sex,bmi,children,smoker,region,charges
count,2772.000000,2772.000000,2772.000000,2772.000000,2772.000000,2772.000000,2772.000000
mean,39.109668,0.507215,30.701349,1.101732,0.203463,1.532468,13261.369959
std,14.081459,0.500038,6.129449,1.214806,0.402647,1.103467,12151.768945
min,18.000000,0.000000,15.960000,0.000000,0.000000,0.000000,1121.873900
25%,26.000000,0.000000,26.220000,0.000000,0.000000,1.000000,4687.797000
50%,39.000000,1.000000,30.447500,1.000000,0.000000,2.000000,9333.014350
75%,51.000000,1.000000,34.770000,2.000000,0.000000,2.000000,16577.779500
max,64.000000,1.000000,53.130000,5.000000,1.000000,3.000000,63770.428010

In [7]:
#Splitting dataset into training and testing dataset

x = data.drop(['charges'],axis = 1)
y = data['charges']

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [8]:
#Build the model

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model = model.fit(X_train,Y_train)
Y_pred = model.predict(X_test)

In [9]:
#Performance Evaluation

from sklearn.metrics import mean_squared_error
print("Mean Squared Error:",round(mean_squared_error(Y_test,Y_pred),2))

Mean Squared Error: 39922479.35

In [10]:
#Predicting Result for single observation

new_df = pd.DataFrame({'age':19,'sex':0,'bmi':27.900,'children':0,'smoker':1,'region':3},index = [0])
Y_pred1 = model.predict(new_df)
print(Y_pred1)

[25099.07077262]