In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load the dataset

data = pd.read_csv(r"textDataset.csv")
data.head()

   S.No                      Text_Documents Label
0     1                I love this sandwich   pos
1     2            This is an amazing place   pos
2     3  I feel very good about these beers   pos
3     4                This is my best work   pos
4     5                What an awesome view   pos

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S.No            18 non-null     int64
 1   Text_Documents  18 non-null     object
 2   Label           18 non-null     object
dtypes: int64(1), object(2)
memory usage: 560.0+ bytes

In [4]:
print("The dimensions of the dataset:",data.shape)

The dimensions of the dataset: (18, 3)

In [5]:
data.describe()

            S.No
count  18.000000
mean    9.500000
std     5.338539
min     1.000000
25%     5.250000
50%     9.500000
75%    13.750000
max    18.000000

In [6]:
from sklearn.preprocessing import LabelEncoder
Le = LabelEncoder()
data['Label'] = Le.fit_transform(data['Label'])
data.head()

   S.No                      Text_Documents  Label
0     1                I love this sandwich      1
1     2            This is an amazing place      1
2     3  I feel very good about these beers      1
3     4                This is my best work      1
4     5                What an awesome view      1

In [7]:
#Splitting the dataset into training and testing dataset

x = data['Text_Documents']
y = data['Label']

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,random_state = 42,test_size = 0.2)
print("The total number of Training Data:",X_train.shape)
print("The total number of Test Data:",X_test.shape)

The total number of Training Data: (14,)
The total number of Test Data: (4,)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X_train_dtm = cv.fit_transform(X_train)
X_test_dtm = cv.transform(X_test)
print("The words or tokens in the text documents:")
print(cv.get_feature_names_out())

The words or tokens in the text documents:
['about' 'am' 'an' 'and' 'awesome' 'bad' 'beers' 'best' 'boss' 'can'
 'dance' 'deal' 'do' 'enemy' 'feel' 'fun' 'good' 'great' 'have' 'holiday'
 'horrible' 'house' 'is' 'juice' 'like' 'locality' 'love' 'my' 'nor' 'of'
 'place' 'sick' 'stay' 'stuff' 'taste' 'that' 'the' 'these' 'this' 'tired'
 'to' 'today' 'tomorrow' 'very' 'view' 'we' 'went' 'what' 'will' 'with'
 'work']

In [9]:
#Build the model

from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model = model.fit(X_train_dtm,Y_train)
Y_pred = model.predict(X_test_dtm)

In [10]:
#Performance Evaluation

from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score
print("Confusion Matrix:")
print(confusion_matrix(Y_test,Y_pred))
print("Accuracy of the classifier:",round(accuracy_score(Y_test,Y_pred)*100,2),'%')
print("The value of Precision:",round(precision_score(Y_test,Y_pred)*100,2),'%')
print("The value of Recall:",round(recall_score(Y_test,Y_pred)*100,2),'%')

Confusion Matrix:
[[2 0]
 [0 2]]
Accuracy of the classifier: 100.0 %
The value of Precision: 100.0 %
The value of Recall: 100.0 %

In [11]:
new_df = pd.DataFrame({"Text_Documents":"I love this sandwich"},index = [0])
new_df_dtm = cv.transform(new_df)
Y_pred1 = model.predict(new_df_dtm)
print(Y_pred1)

[0]